<br />
<br />
<div class="text-center">
    <h3 class="white-text">
    <hr class="hr-light">
</div>

<center>
<h3><i class="fas fa-user white-text"></i><font color="dodgerblue"><%= @event.name %></font></h3>
<div class="row">

<p>Location: <%= @event.location %></p>
<br />
<p>Date: <%= @event.formatted_date %></p>
<br />
<p>
  Invited Attenders: <%= @event.attenders.count %><br />
  Confirmed Attenders: <%= @event.confirmed_attenders.count %>
</p>
<br />
<p>
  Contractor Count: <%= @event.contractors.count %><br />
  Contractor Cost Total: <%= @event.total_contractor_cost %><br />
</p>
</div>

<br />
<div>
<a href="/event/edit" class="btn btn-warning">Edit Event</a>
<br />
<br />

<form action="/event/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" class="btn btn-danger" value="Delete event">

  <hr class="hr-light">
</form>
</div>

</center>
</body>